body {
    background-color: #f4f4f4;
    color: #333;
}

a {
    color: #3498db;
}

img {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}
nav a {
    margin-right: 20px;
    text-decoration: none;
}
  





  


